# ========================
# Node / Next.js
# ========================
node_modules/
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ========================
# Environment Variables
# ========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ========================
# Hardhat
# ========================
cache/
artifacts/

# TypeChain
typechain/
typechain-types/

# Coverage
coverage/
coverage.json

# Ignition Deployments
ignition/deployments/chain-31337/

# ========================
# OS / Editor
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ========================
# Misc
# ========================
*.log
*.tsbuildinfo